<div class="bg-white">
    <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center">

            {{ nav }}
            <div class="px-5 py-2">
                {{ if show_in_nav }}
                <a href="{{ url }}"
                    class="{{ is_current || is_parent ??= 'font-medium text-gray-800' }} text-base leading-6 text-gray-500 hover:text-gray-900">
                    {{ title }}
                </a>
                {{ /if }}
            </div>
            {{ /nav }}
        </nav>
        <div class="mt-8 flex justify-center">
            {{ settings:social }}
            <a href="{{ url }}" class="ml-4" aria-label="{{ name }}" rel="noopener">
                {{ svg :src="icon" class="h-6 w-6 text-gray-500 hover:text-teal-500" }}
            </a>
            {{ /settings:social }}
        </div>
        <div class="mt-8">
            <p class="text-center text-base leading-6 text-gray-400">
                &copy; {{ now format="Y" }} Dustin LeBlanc. All rights reserved.
            </p>
        </div>
    </div>
</div>