{{ partial:nav }}
<div class="relative content">
    {{ bard }}
    {{ partial src="sets/{type}" }}
    {{ /bard }}
    <article class="px-4 py-32 text-orange-600 max-w-screen-md mx-auto text-2xl text-center">
        {{ content | widont }}
    </article>
    {{ collection:articles as="articles" limit="3" }}
    {{ partial:articles/card-grid :articles="articles" heading="The latest from the blog" lead="Thoughts on things" }}
    {{ /collection:articles }}
    {{ partial:partials/newsletter_signup }}
</div>