<div class="relative pt-6 pb-16 md:pb-20 lg:pb-24 xl:pb-32">
    {{ partial:nav }}
    <article>
        <div class="max-w-2xl mx-auto px-4 pt-12">
            {{ author }}
            <div class="my-6 flex items-center">
                <div class="flex-shrink-0">
                    {{ if avatar }}
                    {{ glide:avatar square="200"}}
                    <img class="h-24 w-24 rounded-full" src="{{ url }}"
                        alt="{{ name }}">
                    {{ /glide:avatar }}
                    {{ /if }}
                </div>
                <div class="ml-3">
                    <p class="text-sm leading-5 font-medium text-gray-900">
                        {{ name }}
                    </p>
                    <div class="flex text-sm leading-5 text-gray-500">
                        <time datetime="{{ date format='Y-m-d'}}">
                            {{ date format='M j, Y' }}
                        </time>
                        <span class="mx-1">
                            &middot;
                        </span>
                        <span>
                            {{ bard_content | raw | flatten | join | strip_tags | read_time }}
                            min read
                        </span>
                    </div>
                </div>
            </div>
            {{ /author }}
            <div class="prose prose-xl text-gray-500">
            </div>
        </div>
        {{ bard_content }}
        {{ partial src="sets/{type}" }}
        {{ /bard_content}}
        {{ partial:partials/newsletter_signup }}
    </article>

    {{ topics }}
    {{ collection:articles as="articles" id:isnt="{page.id}" taxonomy:topics="{ id }" limit="3" sort="updated_at:desc"
    }}
    {{ if articles }}
    {{ partial:articles/card-grid :articles="articles" heading="More on {{ title }}"
    :lead="summary"}}
    {{ /if }}
    {{ /collection:articles }}
    {{ /topics }}
</div>
