<div class="relative pt-6 pb-16 md:pb-20 lg:pb-24 xl:pb-32">
    {{ partial:nav }}
    <article>
        <div class="max-w-2xl mx-auto px-4 pt-12">
            {{ author }}
            <div class="my-6 flex items-center">
                <div class="flex-shrink-0">
                    {{ if avatar }}
                    {{ glide:avatar square="200"}}
                    <img class="h-24 w-24 rounded-full" src="{{ url }}"
                        alt="{{ name }}">
                    {{ /glide:avatar }}
                    {{ /if }}
                </div>
                <div class="ml-3">
                    <p class="text-sm leading-5 font-medium text-gray-900">
                        {{ name }}
                    </p>
                    <div class="flex text-sm leading-5 text-gray-500">
                        <time datetime="{{ date format='Y-m-d'}}">
                            {{ date format='M j, Y' }}
                        </time>
                        <span class="mx-1">
                            &middot;
                        </span>
                        <span>
                            {{ content | read_time }}
                            min read
                        </span>
                    </div>
                </div>
            </div>
            {{ /author }}
            <div class="prose prose-xl text-gray-500">
            </div>
        </div>
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="text-lg max-w-prose mx-auto">
                <h1
                    class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                    {{ title }}</h1>
                {{ if lead_text }}
                <p class="mt-8 text-xl text-gray-500 leading-8">{{ lead_text }}
                </p>
                {{ /if }}
            </div>
            <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
                {{ if featured_image }}
                <figure>
                    {{ glide:featured_image }}
                    <img src="{{ url }}" alt="{{ alt ?? ''  }}"
                        class="w-full rounded-lg shadow-lg">
                    {{ /glide:featured_image }}
                    <figcaption>{{ featured_attribution }}</figcaption>
                </figure>
                {{ /if }}
                {{ content }}
            </div>
        </div>
        {{ partial:partials/newsletter_signup }}
    </article>

    {{ topics }}
    {{ collection:articles as="articles" id:isnt="{page.id}" taxonomy:topics="{ id }" limit="3" sort="updated_at:desc"
    }}
    {{ if articles }}
    {{ partial:articles/card-grid :articles="articles" heading="More on {{ title }}"
    :lead="summary"}}
    {{ /if }}
    {{ /collection:articles }}
    {{ /topics }}
</div>
